aliases/aliases-kyte.sh
aliases/aliases-ops-tooling.sh
aliases/aliases-surfer.sh
aliases/aliases-flaggr.sh
aliases/aliases-fleet.sh

src/verify-user.sh
src/new-react-component
src/open-fleet*
src/new_branch.sh
src/random-pass.py
src/start-all.sh
src/open-issue.sh

!src/go/**/*.go
!src/go/**/*.sh
